
/* "Forgot Password" page */
.forgotPasswordTable {
    margin-top: 50px;
    width: 378px;
    color: black;
    -moz-border-radius: 7px;
}
.forgotPasswordCell {
    background-color: #FBFBFB;
    border: 1px solid #555555;
    padding: 10px;
    text-align: center;
    -moz-border-radius: 15px;
}

